#about {
    min-height:80vh;
    position:relative;
    border-radius: 0 40% 0 0;
    margin-top:5rem;
    color:#000;
}

.about-wrap {
    max-width: 960px;
    margin:auto;
    overflow: hidden;
}
.about-wrap > ul {
    text-align:center;
    list-style:none;
    font-weight:400;
    font-size:1.1rem;
}
#about h2 {
    padding-top:3rem;
    padding-bottom:3rem;
    font-size: 2.5rem;
    text-align:center;
    font-family:Philosopher, Arial, Helvetica, sans-serif;
}
#about h3 {
    font-size: 1.8rem;
    text-align:center;
    padding:2rem 0 1em 0;
    font-family:Philosopher, Arial, Helvetica, sans-serif;
}
#about p {
    font-size:1.4rem;
    padding-bottom:1rem;  
}
.contact-info {
    text-align:center;
    font-size:1.3rem;
    padding-top:1.5rem;
}