body{
    font-family:Catamaran, Helvetica, Arial sans-serif;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.wrap {
    min-height:100vh;
}
#case-study {
    max-width:960px;
    text-align:center;
    color:#000;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
}
#case-study > header > h1 {
    font-size:2rem;
}
#case-study > div > p {
    text-align: left;
    font-size:1.2rem;
    line-height:1.7;
}
#case-study > div > h2, p {
    padding:2rem 3rem 2rem 3rem;
}
#case-study > div > img {
    display:block;
    margin:0 auto;
}
#case-study a {
    color:#0054A8;
    padding:0.2rem;
    border-radius:10px;
}
#case-study a:hover {
   text-decoration: underline;
}
#case-study ul {
    list-style: none;
    font-size:1.1rem;
}
.learned-heading{
    text-decoration:underline;
}
.showcase-img{
    max-width:90%;
}
.gm-image {
    width:40%;
}