
/* --- Work Section --- */
#work {
    min-height:100vh;
    display:grid;
    grid-column-gap:128px;
    grid-row-gap:25px;
    justify-items:center;

}

#work h2 {
    color:#000;
    padding:8rem 0 4rem 0;
}

.card {
    background-color: #fff;
    text-align:center;
    color:#000;
    margin:0 auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
                0 1px 10px 0 rgba(0,0,0,0.12), 
                0 2px 4px -1px rgba(0,0,0,0.3);
    padding:1.5rem;
    height:100%;
    max-width:350px;
}

.card > a {
    padding-top:100px;
}

.work-image{
    flex-shrink:0;
    min-width:100%;
    max-width:100%;
}

div[class^="work-"]{
    align-self:stretch;
}

.work-1{
    grid-column:1;
    grid-row:2;
    padding-left:128px;
}
.work-2{
    grid-column:2;
    grid-row:2;
}
.work-3{
    grid-column:3;
    grid-row:2;
    padding-right:8rem;
}
.work-4{
    grid-column:1;
    grid-row:4;
    padding-left:8rem;
}
.work-5{
    grid-column:2;
    grid-row:4;
}
.work-6{
    grid-column:3;
    grid-row:4;
    padding-right:8rem;
}
.work-1 .work-display {
    background:url(../assets/globalmedic-thumbnail.png) no-repeat center;
}
.work-2 .work-display {
    background:url(../assets/map-thumbnail.png) no-repeat center;
}
.work-3 .work-display {
    background:url(../assets/hs-logo.png) no-repeat center;
}
.work-4 .work-display {
    background:url(../assets/humbieHelper.png) no-repeat center;
}
.work-5 .work-display {
    background:url(../assets/burger.svg) no-repeat center;
}
.work-6 .work-display {
    background:url(../assets/trillium-logo.png) no-repeat center;
}
.work-info {
    display:none;
    text-align:center;
    text-decoration: none;
    color:#000;
    vertical-align: middle;
}

#work h2 {
    font-size:2.5rem;
    grid-column:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    font-family:Philosopher, Arial, Helvetica, sans-serif;
}

#work h3 {
    font-size:1.8rem;
    padding: 1rem;
}

.work-display {
    height:200px;
    margin:0 auto;
    border-radius:5px;
}

.work-desc {
    margin:0 auto;
    padding:0 1.8rem 1rem 1.8rem;
}

.work-desc h3 {
    text-align:center;
}

.btn-container {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__link {
    color:#000;
    font-weight:600;
    font-size:1.2rem;
}

.work__link:hover {
    text-decoration:underline;
}